.teamkuva {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formdiv {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.imageResizer {
  width: 60px;
}