.teamkuva {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
}

.formdiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.imageResizer {
    width: 20vh;
}

.NikosImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 35vh;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.imgContainer:hover .overlay {
    opacity: 0.6;
}

.text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.minHeight {
    min-height: 100vh;
}

.jumbotron {
    margin-top: 30px;
}

.signuploginlink {
    color: blue;
    text-decoration: underline;
    float: right;
}

.jou {
    border-style: dotted;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.jt {
    margin: 0;
    text-align: center;
}

.Nikos404Img {
    height: 20vh;
}

.testimg {
    height: 50vh;
}

body {
    background-image: url("http://2.bp.blogspot.com/-hGiMkSdNa7Q/UObJpuC-YPI/AAAAAAAANo4/EuA5NlhqPME/s1600/banana-tree.jpg");
}

.container {
    background-color: rgba(255, 255, 255, 1);
}